.grid_12
  %h2#page-heading Replacing Products for: #{@delivery.name} - #{@delivery.pretty_date}
  %h5 NOTE: this should only be done if:
  %ul
    %li You wish to replace all products for a delivery
    %li There are no orders already placed for this delivery

  %form{:action => "#{url_for :controller => 'deliveries', :action => 'do_replace_products', :id => @delivery.id, :farm_id => @farm.id}", :method=>"POST"}
    %h4 paste CSV for imported products:
    %textarea{:name=>"product_csv", :rows=>20, :cols=>100}
    %br
    %input{:type => "submit", :value=>"Submit"}

